.comingSoonHeading {
  margin: 0;
}
.comingSoonContainer {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}
.comingSoonButton {
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
