body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

@media (width > 375px) {
  .MuiDialog-paper {
    border-radius: 10px !important;
    width: 110% !important;
    height: 300px !important;
    background-color: #000000 !important;
  }
}

@media (768px <= width <= 1024px) {
  .MuiDialog-paper {
    border-radius: 10px !important;
    width: 100vw !important;
    height: 500px !important;
    background-color: #000000 !important;
  }
}

@media (width > 1024px) {
  .MuiDialog-paper {
    border-radius: 10px !important;
    width: 100vw !important;
    height: 500px !important;
    background-color: #000000 !important;
  }
}

